header.header
  .header-top
    .container
      .header-top__inner
        .header-top__block
          .header-top__block-inner
            p.header-top__block-text Ваш город:
            .header-top__block-select.select-link
              .select-link__title Москва
              img.select-link__icon(src="images/icons/chevron-down.svg" alt="")
        .header-top__block
          .header-top__block-inner
            p.header-top__block-text Москва, г. Химки, ул. Рабочая, дом 2
          .header-top__block-inner
            p.header-top__block-subtitle с 09:00 до 20:00 без выходных
          .header-top__block-inner
        .header-top__block
          .header-top__block-inner
            p.header-top__block-phone +7 (495) 970-45-62 / +7 (915) 202-72-57
          .header-top__block-inner
            p.link Перезвонить?
        .header-top__block
          .header-top__block-inner
            p Связаться:
            .header-top__block-list
              a.header-top__block-link(href="#")
                img.header-top__block-img(src="images/icons/telegram.svg" alt="")
              a.header-top__block-link(href="#")
                img.header-top__block-img(src="images/icons/whatsapp.svg" alt="")
              a.header-top__block-link(href="#")
                img.header-top__block-img(src="images/icons/viber.svg" alt="")
  .header-bottom
    .container
      .header-bottom__inner
        .header-bottom__block
          a.header-bottom__block-email(href="mailto:grandlesmarket@mail.ru") grandlesmarket@mail.ru
        .header-bottom__block
          .header-bottom__block-menu.menu-list
            ul.menu-list__list
              li.menu-list__item
                a.menu-list__link(href="#") Каталог
                  img.menu-list__img(src="images/icons/chevron-down.svg" alt="")
            ul.menu-list__list
              li.menu-list__item
                a.menu-list__link(href="#") Покупателю
                  img.menu-list__img(src="images/icons/chevron-down.svg" alt="")

            a.header-logo(href="#")
              img(src="images/icons/logo.svg" alt="")

            ul.menu-list__list
              li.menu-list__item
                a.menu-list__link(href="#") О компании
                  img.menu-list__img(src="images/icons/chevron-down.svg" alt="")
            ul.menu-list__list
              li.menu-list__item
                a.menu-list__link(href="#") Контакты

        .header-bottom__block.header-bottom__block-icons
          a.header-bottom__block-link(href="#")
            img.header-bottom__block-icon(src="images/icons/calculator.svg" alt="")
          a.header-bottom__block-link(href="#")
            img.header-bottom__block-icon(src="images/icons/search.svg" alt="")
          a.header-bottom__block-link.header-cart(href="#")
            img.header-bottom__block-icon(src="images/icons/cart.svg" alt="")
            span.header-cart__number 2
